#banner-asientos{
    background-image: url();
    width: 100%;
    height: 279px;
    margin-top: 70px;
    text-align: center;
    display: flex;               
    justify-content: center;
    flex-direction: column;
}

#contenedor-asientos{
    margin: 0 auto;
    display: flex;
    width: 1200px;
    height: 997px;
    box-shadow: 3px 4px 22px -4px rgba(0,0,0,0.56);
    border-radius: 9px;
    margin-top: 70px;
}

#informacion-asientos{
    background-color: #E6E6E6;
    width: 349px;
    height: 997px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border-radius: 9px;
}

#sala{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#circulo-verde, #escogida{
    color: #00C717;
}

#circulo-rojo{
    color: #FF0000;
}

.contenedor-precio-silla{
    display: flex;
}
.precio-estandar{
    background-color: #00C717;
    width: 90px;
    border-radius: 11px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.etiqueta-precio{
    margin-left: 10px;
}

.botones-adicionar-quitar{
    width: 56px;
    height: 41px;
    background-color: #190073;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size:25px;
}

.id-silla-seleccionada{
    display: flex;
    background-color: #190073;
    width: 71px;
    height: 31px;
    border-radius: 4px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2px
}

.titulos-sillas{
    color: #190073;
    font-weight: 500;
}
#sillas-seleccionadas{
    display: flex;
}

#boton-numero{
    display: flex;
    width: 56px;
    height: 41px;
    background-color: #ffffff;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:15px;
    margin-left: 10px;
    margin-right: 10px;
}

#cantidad-de-sillas{
    display: flex;
}

.boton-confirmar{
    display: flex;
    background-color: #FF0000;
    width: 238px;
    height: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 7px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600
}

button{
    cursor: pointer;
}

button:hover{
    background-color: #c90c0c;
    color: white;
}


h1, h2{
    color: white;
}

h2{
    font-weight: 300;
}

hr{
    width: 235px;
}

.silla-disponible{
    font-weight: 600;
    display: flex;                /* Necesario para centrar el contenido */
    justify-content: center;     /* Centra horizontalmente */
    align-items: center;
    width: 67px;
    height: 63px;
    margin: 5px;
    background-image: url(../assets/seleccionar-asientos/silla-disponible.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.escogida{
    background-image: url(../assets/seleccionar-asientos/silla-seleccionada.png);
}

#asientos{
    display: grid;
    gap: 25px;
    grid-template-rows: 50px 50px 50px 50px 50px 50PX;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
}

#pantalla{
    margin-bottom: 80px;
    background-color: rgb(185, 185, 185);
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 7px;
}

#contenedor-sala{
   margin-left: 120px;
   margin-top: 70px;
   
}

#contenedor-sala{
    display: fflex-column;
    text-align: center;
}

#sillas-seleccionadas span{
    background-color: #190073;
    color: white;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 7px;
    border-radius: 12%;
}