#footer{
    background-color: #190073;
    height: 277px;
    width: 100%;
    bottom: 0;
    margin-top: 60px;
}

#contenedor-logo-textos{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#contenedor-textos-footer{
    display: flex;
}

#derechos{
    text-align: center;
}

#footer p {
    color: white;
    margin: 30px;
}
